#projectsBg {
  background: var(--cor-9);
}
#project {
  padding: 100px 20px;
}
#title {
  margin-bottom: 32px;
}
#carroselCard {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


@media (max-width:1000px) {
  #carroselCard {
    display: flex;
    
    overflow-x: auto;
    justify-content: flex-start;
  }
}

@media (max-width: 500px ) {
  #project {
    padding: 60px 20px;
  }
}
