#headerBg {
  background: var(--cor-);
  



}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  gap: 20px;
}
#nav h1 {
  font-weight: 600;
}
#navList {
  display:flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 511px) {
  #nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
}

@media (max-width: 320px) {
  #navList {
    flex-wrap: wrap;
    justify-content: center;
  }
}