#headerBg {
  background: var(--cor-);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  gap: 20px;
}
#nav h1 {
  font-weight: 600;
}
#navList {
  display:flex;
  gap: 20px;
  align-items: center;
}
#navList a {
  padding: 1rem 2rem;
  transition: .5s;

}

#navList a:hover {
  border-radius: 4px;
  border: 1px solid var(--cor-11);
  padding:1rem 3rem
}

@media (max-width: 511px) {
  #nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
}

@media (max-width: 320px) {
  #navList {
    flex-wrap: wrap;
    justify-content: center;
  }
}